<a href="https://colab.research.google.com/github/alra-code/Modelando-Datasets-Ricos-com-IA/blob/main/ex_03_pardonizacao_dados_ipynb3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os as os
from google.colab import files
from sklearn.preprocessing import OneHotEncoder, StandardScaler

In [2]:
# Carregar o dataset Titanic
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)

In [3]:
# Resumo das colunas
print("\nResumo das colunas:")
print(df.info())

Resumo das colunas:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [4]:
# Exibir as primeiras linhas do dataset
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [5]:
# Verificar valores ausentes
print(df.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
# Salvar o DataFrame como um arquivo CSV
df.to_csv('titanic_dados_originais.csv', index=False)

In [7]:
# Baixar o arquivo CSV
files.download('titanic_dados_originais.csv')

In [8]:
# Preencher valores ausentes em colunas numéricas com a mediana
df['Age'].fillna(df['Age'].median(), inplace=True)

In [9]:
# Verificar valores ausentes
print(df.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [10]:
# Preencher valores ausentes em colunas categóricas com a moda
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [11]:
# Verificar valores ausentes
print(df.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [12]:
# Salvar o DataFrame como um arquivo CSV
df.to_csv('titanic_dados_valores_ausentes.csv', index=False)

In [13]:
# Baixar o arquivo CSV
files.download('titanic_dados_valores_ausentes.csv')

In [14]:
# Codificar variáveis categóricas
encoder = OneHotEncoder(sparse_output=False, drop='first')
encoded_cols = pd.DataFrame(encoder.fit_transform(df[['Sex', 'Embarked']]),
                            columns=encoder.get_feature_names_out(['Sex', 'Embarked']))
df = pd.concat([df, encoded_cols], axis=1)
df.drop(['Sex', 'Embarked'], axis=1, inplace=True)

In [15]:
# Exibir as primeiras linhas do dataset
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0      1      0
2                             Heikkinen, Miss. Laina  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0      1      0
4                           Allen, Mr. William Henry  35.0      0      0

             Ticket     Fare Cabin  Sex_male  Embarked_Q  Embarked_S
0         A/5 21171   7.2500   NaN       1.0         0.0         1.0
1          PC 17599  71.2833   C85       0.0         0.0         0.0
2  STON/O2. 3101282   7.9250   NaN       0.0         0.0         1.0
3            113803  53.1000  C123       0.0         0.0         1.0
4            373450   8.0500   NaN       1.0         0.0         1.0

In [16]:
# Salvar o DataFrame como um arquivo CSV
df.to_csv('titanic_dados_variaveis_categoricas.csv', index=False)

In [17]:
# Baixar o arquivo CSV
files.download('titanic_dados_variaveis_categoricas.csv')

In [18]:
# Selecionar colunas numéricas
numerical_features = ['Age', 'Fare', 'SibSp', 'Parch']

In [19]:
# Mostrar as estatísticas antes da normalização
print("Estatísticas antes da normalização:")
print(df[numerical_features].describe())

Estatísticas antes da normalização:
              Age        Fare       SibSp       Parch
count  891.000000  891.000000  891.000000  891.000000
mean    29.361582   32.204208    0.523008    0.381594
std     13.019697   49.693429    1.102743    0.806057
min      0.420000    0.000000    0.000000    0.000000
25%     22.000000    7.910400    0.000000    0.000000
50%     28.000000   14.454200    0.000000    0.000000
75%     35.000000   31.000000    1.000000    0.000000
max     80.000000  512.329200    8.000000    6.000000

In [20]:
# Normalizar dados numéricos
scaler = StandardScaler()
df[numerical_features] = scaler.fit_transform(df[numerical_features])

In [21]:
# Mostrar as estatísticas após a normalização
print("\nEstatísticas após a normalização:")
print(df[numerical_features].describe())

Estatísticas após a normalização:
                Age          Fare         SibSp         Parch
count  8.910000e+02  8.910000e+02  8.910000e+02  8.910000e+02
mean   2.272780e-16  3.987333e-18  4.386066e-17  5.382900e-17
std    1.000562e+00  1.000562e+00  1.000562e+00  1.000562e+00
min   -2.224156e+00 -6.484217e-01 -4.745452e-01 -4.736736e-01
25%   -5.657365e-01 -4.891482e-01 -4.745452e-01 -4.736736e-01
50%   -1.046374e-01 -3.573909e-01 -4.745452e-01 -4.736736e-01
75%    4.333115e-01 -2.424635e-02  4.327934e-01 -4.736736e-01
max    3.891554e+00  9.667167e+00  6.784163e+00  6.974147e+00

In [22]:
# Visualizar as primeiras linhas do DataFrame transformado
print("\nPrimeiras linhas do DataFrame transformado:")
print(df.head())

Primeiras linhas do DataFrame transformado:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name       Age     SibSp  \
0                            Braund, Mr. Owen Harris -0.565736  0.432793
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  0.663861  0.432793
2                             Heikkinen, Miss. Laina -0.258337 -0.474545
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  0.433312  0.432793
4                           Allen, Mr. William Henry  0.433312 -0.474545

      Parch            Ticket      Fare Cabin  Sex_male  Embarked_Q  \
0 -0.473674         A/5 21171 -0.502445   NaN       1.0         0.0
1 -0.473674          PC 17599  0.786845   C85       0.0         0.0
2 -0.473674  STON/O2. 3101282 -0.488854   NaN       0.0         0.0
3 -0.473674            113803  0.420730  C123       0.0         0.0
4 -0.473674            373450 -0.486337   NaN       1.0         0.0

   Embarked_S
0         1.0
1         0.0
2         1.0
3         1.0
4         1.0

In [23]:
# Salvar o DataFrame como um arquivo CSV
df.to_csv('titanic_dados_normalizados.csv', index=False)

In [24]:
# Baixar o arquivo CSV
files.download('titanic_dados_normalizados.csv')